@import "variables";

.gachapon {
  box-shadow: $box-shadow-left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-color-50;
  max-width: min(60vw, $sizing-max * 2);
  border-radius: $border-radius-l $border-radius-l $border-radius-l 0;
  background-image: linear-gradient(
    160deg,
    #f4e5ff 45%,
    hsla(4, 94%, 69%, 0.5) 90%
  );

  .gacha-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: $sizing-5;
    position: relative;

    .close-icon {
      width: 100%;
      justify-content: flex-end;
    }

    .gacha-top-decoration {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      img {
        max-width: $sizing-14;
      }
    }
  }

  .gacha-main {
    display: grid;
    padding: $sizing-3 0 0 0;
    grid-template-columns: 65% 35%;

    .banner-img {
      max-width: min(100%, $sizing-max);
      box-shadow: $box-shadow-left;
      padding: $font-size-4;
    }

    .main-right {
      display: flex;
      flex-direction: column;
      border-radius: 0 $border-radius-s $border-radius-s 0;
      background-image: url("../Assets/images/background-waves-2.svg");
      background-size: cover;
      background-repeat: no-repeat;

      .gacha-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $sizing-5;
        height: 100%;

        .gacha-currency {
          display: flex;
          align-self: center;

          img {
            max-height: $font-size-5;
          }

          .gacha-currency-info {
            display: flex;
            padding: $font-size-min;
            background-color: $white-accents;
            border-radius: $border-radius-l;
            box-shadow: $box-shadow-bottom;

            .user-currency {
              display: flex;
              align-items: center;

              button {
                font-size: $font-size-base;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .gachapon {
    max-width: min(80vw, $sizing-max * 2);
    gap: $sizing-4;
    padding: $sizing-4;
    border-radius: $border-radius-l;
    .gacha-top {
      padding: 0;
      .gacha-top-decoration {
        img {
          max-width: min(100%, 768px);
        }
      }
    }

    .gacha-main {
      display: flex;
      flex-direction: column;
      gap: $sizing-4;

      .banner-img {
        box-shadow: none;
        padding: 0;
        border-radius: $border-radius-s;
        border: 1px solid $white-accents;
      }
      .main-right {
        background-image: none;
      }
    }
  }
}
