//Colors

$main-color-100: hsl(203, 57%, 45%);
$main-color-300: hsl(203, 67%, 35%);
$main-color-500: hsl(203, 77%, 25%);
$main-color-700: hsl(203, 87%, 15%);
$main-color-900: hsl(203, 97%, 5%);
$secondary-color-50: hsl(214, 100%, 90%);
$secondary-color-100: hsl(214, 71%, 90%);
$secondary-color-200: hsl(214, 65%, 85%);
$secondary-color-300: hsl(214, 61%, 80%);
$secondary-color-500: hsl(214, 51%, 70%);
$secondary-color-700: hsl(214, 41%, 60%);
$secondary-color-900: hsl(214, 31%, 50%);
$tertiary-color-100: hsl(110, 54%, 90%);
$tertiary-color-300: hsl(110, 44%, 80%);
$tertiary-color-500: hsl(110, 34%, 70%);
$tertiary-color-700: hsl(110, 24%, 60%);
$tertiary-color-900: hsl(110, 14%, 50%);
$quaternary-color-100: hsl(270, 95%, 95%);
$quaternary-color-200: hsl(270, 90%, 90%);
$quaternary-color-300: hsl(270, 70%, 70%);
$quaternary-color-500: hsl(270, 50%, 50%);
$quaternary-color-700: hsl(270, 70%, 30%);
$quaternary-color-900: hsl(270, 90%, 10%);
$gray-100: hsl(209, 15%, 68%);
$gray-200: hsl(209, 15%, 58%);
$gray-300: hsl(209, 15%, 48%);
$gray-400: hsl(209, 10%, 38%);
$gray-500: hsl(209, 5%, 28%);
$gray-600: hsl(209, 10%, 20%);
$gray-700: hsl(209, 15%, 15%);
$gray-800: hsl(209, 15%, 10%);
$gray-900: hsl(209, 15%, 5%);

//Font
$font-family-1: 'Open Sans', sans-serif;
$font-size-min: 12px;
$font-size-2: 14px;
$font-size-base: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 30px;
$font-size-8: 36px;
$font-size-9: 48px;
$font-size-10: 60px;
$font-size-max: 72px;

//Sizing
$sizing-min: 4px;
$sizing-2: 8px;
$sizing-3: 12px;
$sizing-4: 16px;
$sizing-5: 24px;
$sizing-6: 32px;
$sizing-7: 48px;
$sizing-8: 64px;
$sizing-9: 96px;
$sizing-10: 124px;
$sizing-11: 192px;
$sizing-12: 256px;
$sizing-13: 384px;
$sizing-14: 512px;
$sizing-15: 640px;
$sizing-max: 768px;

//Border radius
$border-radius-s: 0.25rem;
$border-radius-m: $font-size-5;
$border-radius-l: $font-size-6;

//Box shadow
$box-shadow-1: hsla(210, 6%, 50%, 0.3) 0px 1px 2px 0px, hsla(206, 6%, 50%, 0.15) 0px 2px 6px 2px;
